:root {
	--theme-color: #9b59b6;
	--whiteFontColor: #f1f1f1;
	--blackFontColor: #1a1a1a;
	--black900FontColor: #000000;
	--black700FontColor: #555555;
	--black600FontColor: #666666;
	--black300FontColor: #bbbbbb;
	--bgOpacity: rgba(255, 255, 255, 0.5);
	--bgBlack900: #000000;
	--bgBlack100: #dddddd;
	--bgBlack50: #eff0f4;
	--outerShadow: 0.3rem 0.3rem 0.3rem #d0d0d0, -0.3rem -0.3rem 0.3rem #f8f8f8;
	--outerShadow0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
	--innerShadow: inset 0.3rem 0.3rem 0.3rem #d0d0d0, inset -0.3rem -0.3rem 0.3rem #f8f8f8;
	--innerSadhow0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}
html {
	font-size: 62.5%;
	color: var(--blackFontColor);
	font-family: Raleway;
	font-weight: 400;
}
body {
	width: 100vw;
	height: 100vh;

	background: var(--bgBlack50);
	font-size: 1.6rem;
}
.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.footer,
.header,
.main {
	width: 100%;
}
.main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes topBounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(2.5rem);
		transform: translateY(2.5rem);
	}
}
@keyframes topBounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(2.5rem);
		transform: translateY(2.5rem);
	}
}
@-webkit-keyframes leftBounce {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	50% {
		-webkit-transform: translateX(2.5rem);
		transform: translateX(2.5rem);
	}
}
@keyframes leftBounce {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	50% {
		-webkit-transform: translateX(2.5rem);
		transform: translateX(2.5rem);
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeInTop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2.5rem);
		transform: translateY(-2.5rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes fadeInTop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2.5rem);
		transform: translateY(-2.5rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
	opacity: 1;
}
.custom-checkbox__field:focus + .custom-checkbox__content::before {
	outline: red solid 2px;
	outline-offset: 2px;
}
.custom-checkbox__field:disabled + .custom-checkbox__content {
	opacity: 0.4;
	pointer-events: none;
}
@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-Thin.woff2) format('woff2');
	font-weight: 100;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-Regular.woff2) format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-Medium.woff2) format('woff2');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-SemiBold.woff2) format('woff2');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
.style {
	width: 24rem;
	padding: 1.5rem;
	z-index: 101;
	background: var(--bgBlack50);
	border-radius: 0.5rem;
	position: fixed;
	right: 0;
	top: 7.7rem;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.style._open {
	-webkit-transform: translateX(-1.5rem);
	-ms-transform: translateX(-1.5rem);
	transform: translateX(-1.5rem);
}
.style__icons {
	width: 4rem;
	height: 4rem;
	margin-right: 1.5rem;
	cursor: pointer;
	border-radius: 50%;
	color: var(--black900FontColor);
	text-align: center;
	line-height: 4rem;
	font-size: 2rem;
	position: absolute;
	right: 100%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.style__icons::after {
	border-radius: 50%;
}
.style__icons._hover-in-shadow {
	position: absolute;
}
.style__toggler {
	top: 0;
}
.style__day-night {
	top: 5.5rem;
}
.style__lang {
	top: 11rem;
}
.style h4 {
	margin-bottom: 1rem;
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 700;
}
.style__colors {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.style__colors:hover span {
	-webkit-filter: blur(0.5rem);
	filter: blur(0.5rem);
}
.style__colors span {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	display: inline-block;
	border-radius: 50%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.style__colors span:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}
.style__color-1 {
	background: #9b59b6;
}
.style__color-2 {
	background: #f1c40f;
}
.style__color-3 {
	background: #2ed573;
}
.style__color-4 {
	background: #2eb1ed;
}
.style__color-5 {
	background: #ea2027;
}
.style__color-6 {
	background: #fb839e;
}
body._no-scroll {
	overflow-y: hidden;
}
body._dark {
	--whiteFontColor: #1a1a1a;
	--blackFontColor: #f1f1f1;
	--black900FontColor: #ffffff;
	--black700FontColor: #ffffff;
	--black600FontColor: #bbbbbb;
	--black300FontColor: #bbbbbb;
	--bgOpacity: rgba(43, 44, 47, 0.5);
	--bgBlack900: #ffffff;
	--bgBlack100: #353535;
	--bgBlack50: #2b2c2f;
	--outerShadow: 0.3rem 0.3rem 0.3rem #222327, -0.3rem -0.3rem 0.3rem #363636;
	--outerShadow0: 0 0 0 #222327, 0 0 0 #363636;
	--innerShadow: inset 0.3rem 0.3rem 0.3rem #222327, inset -0.3rem -0.3rem 0.3rem #222327;
	--innerSadhow0: inset 0 0 0 #222327, inset 0 0 0 #363636;
}
._container {
	max-width: 114rem;
	margin: 0 auto;
}
._hidden {
	display: none;
}
._outer-shadow {
	-webkit-box-shadow: var(--outerShadow);
	box-shadow: var(--outerShadow);
}
._hover-in-shadow {
	z-index: 1;
	position: relative;
}
._hover-in-shadow::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
._hover-in-shadow:active,
._hover-in-shadow:focus,
._hover-in-shadow:hover {
	-webkit-box-shadow: var(--outerShadow) 0;
	box-shadow: var(--outerShadow) 0;
}
._hover-in-shadow:active::after,
._hover-in-shadow:focus::after,
._hover-in-shadow:hover::after {
	-webkit-box-shadow: var(--innerShadow);
	box-shadow: var(--innerShadow);
	z-index: -1;
}
._inner-shadow {
	-webkit-box-shadow: var(--innerShadow);
	box-shadow: var(--innerShadow);
}
.section._hide {
	display: none;
}
.preload {
	width: 100%;
	height: 100%;
	z-index: 1500;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: var(--bgBlack50);
	position: fixed;
	left: 0;
	top: 0;
}
.preload._fade-out {
	opacity: 0;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.preload__box {
	width: 6.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.preload__box div {
	width: 1.5rem;
	height: 1.5rem;
	background: var(--theme-color);
	border-radius: 50%;
	-webkit-animation: 1.2s ease-in-out infinite loader;
	animation: 1.2s ease-in-out infinite loader;
}
.preload__box div:nth-child(2) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}
.preload__box div:nth-child(3) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
@-webkit-keyframes loader {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-3rem);
		transform: translateY(-3rem);
	}
}
@keyframes loader {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-3rem);
		transform: translateY(-3rem);
	}
}
.btn-1 {
	padding: 1rem 2.5rem;
	cursor: pointer;
	display: inline-block;
	border-radius: 3rem;
	color: var(--theme-color);
	line-height: 1.5;
	font-size: 1.6rem;
	font-weight: 500;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.btn-1::after {
	border-radius: 3rem;
}
.effect-wrap .effect {
	z-index: -1;
	position: absolute;
}
.effect-1 {
	width: 3rem;
	height: 3rem;
	border: 0.4rem solid #8a49ff;
	right: 10%;
	bottom: 10%;
	-webkit-animation: 10s linear infinite spin;
	animation: 10s linear infinite spin;
}
.effect-2 {
	width: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	left: 3%;
	bottom: 20%;
}
.effect-2 div {
	width: 0.3rem;
	height: 0.3rem;
	margin: 0 0.3rem 0.6rem;
	background-color: #ff9c07;
	-webkit-animation: 3s ease-in-out infinite topBounce;
	animation: 3s ease-in-out infinite topBounce;
}
.effect-3 {
	width: 18rem;
	height: 18rem;
	border: 2.5rem solid var(--theme-color);
	border-radius: 50%;
	top: -12rem;
	left: 50%;
	-webkit-animation: 3s ease-in-out infinite leftBounce;
	animation: 3s ease-in-out infinite leftBounce;
}
.effect-4 {
	border-top: 3rem solid transparent;
	border-left: 3rem solid #06d79c;
	top: 20%;
	left: 30%;
	-webkit-animation: 15s linear infinite spin;
	animation: 15s linear infinite spin;
}
.effect-4::before {
	content: '';
	opacity: 0.5;
	border-top: 3rem solid transparent;
	border-left: 3rem solid #06d79c;
	position: absolute;
	left: -3.5rem;
	top: -2.5rem;
}
.effect-5 {
	width: 5rem;
	height: 5rem;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-radius: 50%;
	right: 10%;
	top: 30%;
	-webkit-animation: 10s linear infinite spin;
	animation: 10s linear infinite spin;
}
.effect-5 div {
	width: 0.1rem;
	height: 100%;
	background-color: #4dd0e1;
}
@media (max-width: 768px) {
	.effect-3 {
		margin-left: -6rem;
	}
	.effect-4 {
		left: 15%;
	}
	.effect-5 {
		right: 4%;
	}
}
.header {
	width: 100%;
	padding: 2rem 1.5rem;
	z-index: 100;
	background: 0 0;
	position: absolute;
	top: 0;
	left: 0;
}
.header__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header__logo a {
	width: 4rem;
	height: 4rem;
	overflow: hidden;
	display: inline-block;
	border: 0.2rem solid var(--theme-color);
	border-radius: 0.8rem;
	color: var(--theme-color);
	text-align: center;
	text-transform: uppercase;
	line-height: 3.6rem;
	font-size: 2.4rem;
	font-weight: 700;
	position: relative;
	-webkit-transition: 0.4s 0.1s;
	-o-transition: 0.4s 0.1s;
	transition: 0.4s 0.1s;
}
.header__logo a::before {
	content: '';
	width: 120%;
	height: 120%;
	z-index: -1;
	background: var(--theme-color);
	border-radius: 0.5rem;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate(100%, 20%);
	-ms-transform: translate(100%, 20%);
	transform: translate(100%, 20%);
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.header__logo a:hover {
	border: 0.2rem solid transparent;
	color: var(--whiteFontColor);
}
.header__logo a:hover:before {
	-webkit-transform: translate(-15%, -15%);
	-ms-transform: translate(-15%, -15%);
	transform: translate(-15%, -15%);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
}
.header__hamburger-btn {
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	position: fixed;
	top: 2.5rem;
	right: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0.2rem;
	border-radius: 50%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.header__hamburger-btn::after {
	border-radius: 50%;
}
.header__hamburger-btn span {
	width: 1.6rem;
	height: 0.2rem;
	display: block;
	background: var(--bgBlack900);
	position: relative;
}
.header__hamburger-btn span::after,
.header__hamburger-btn span::before {
	content: '';
	width: 100%;
	height: 100%;
	background: var(--bgBlack900);
	position: absolute;
	left: 0;
}
.header__hamburger-btn span::before {
	top: -0.6rem;
}
.header__hamburger-btn span::after {
	top: 0.6rem;
}
.nav-menu {
	width: 100%;
	height: 100%;
	overflow: hidden auto;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	background-color: var(--bgBlack50);
	position: fixed;
	top: 0;
	left: 0;
}
.nav-menu._open {
	z-index: 999;
	visibility: visible;
	opacity: 1;
	-webkit-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	transition: 0.3s ease-in;
}
.nav-menu__close {
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	display: block;
	border-radius: 50%;
	color: var(--blackFontColor);
	text-align: center;
	line-height: 3.5rem;
	font-size: 3.5rem;
	position: absolute;
	top: 2.5rem;
	right: 1.5rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.nav-menu__close::after {
	border-radius: 50%;
}
.nav-menu__inner {
	width: 100%;
	min-height: 95vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.nav-menu__inner ul {
	padding: 1.5rem;
}
.nav-menu__inner ul:hover li a {
	opacity: 0;
}
.nav-menu__inner ul li {
	display: block;
	margin-bottom: 3.5rem;
	text-align: center;
}
.nav-menu__inner ul li:last-child {
	margin-bottom: 0;
}
.nav-menu__inner ul li::before {
	content: attr(data-text);
	opacity: 0;
	pointer-events: none;
	color: var(--theme-color);
	text-transform: uppercase;
	letter-spacing: 2rem;
	white-space: nowrap;
	font-size: 15vw;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.nav-menu__inner ul li:hover::before {
	opacity: 0.3;
	letter-spacing: 0;
}
.nav-menu__inner ul li a {
	padding: 0.5rem 3rem;
	overflow: hidden;
	display: inline-block;
	color: var(--blackFontColor);
	text-transform: capitalize;
	font-size: 2.8rem;
	font-weight: 700;
	position: relative;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.nav-menu__inner ul li a._active {
	color: var(--theme-color);
}
.nav-menu__inner ul li a._active:hover {
	color: var(--whiteFontColor);
}
.nav-menu__inner ul li a:hover {
	z-index: 1000;
	opacity: 1;
	background: var(--theme-color);
	color: var(--whiteFontColor);
	-webkit-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
}
.nav-menu__inner ul li a:hover::before {
	left: calc(100% + 10rem);
	-webkit-transition: 0.5s 0.2s;
	-o-transition: 0.5s 0.2s;
	transition: 0.5s 0.2s;
}
.nav-menu__inner ul li a::before {
	content: '';
	width: 8rem;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.8)), to(transparent));
	background: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.8), transparent);
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
	position: absolute;
	top: 0;
	left: -10rem;
	-webkit-transform: skewX(35deg);
	-ms-transform: skewX(35deg);
	transform: skewX(35deg);
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.nav-menu__copyright-text {
	color: var(--black600FontColor);
	text-transform: lowercase;
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: vertical-lr;
	text-orientation: upright;
	letter-spacing: -0.4rem;
	font-size: 1.8rem;
	font-weight: 500;
	position: absolute;
	top: 50%;
	left: 2.5rem;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fade-out-effect {
	width: 100%;
	height: 100%;
	z-index: -1;
	visibility: hidden;
	background: var(--bgBlack50);
	position: fixed;
	top: 0;
	left: 0;
}
.fade-out-effect._active {
	z-index: 1001;
	visibility: visible;
	-webkit-animation: 0.3s ease-out fadeOut;
	animation: 0.3s ease-out fadeOut;
}
.home__wrapper {
	min-height: 95vh;
	padding: 5rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.home__img,
.home__text {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	min-width: 50%;
	padding: 0 1.5rem;
}
.home__text p {
	color: var(--black300FontColor);
	text-transform: capitalize;
	font-size: 1.8rem;
	font-weight: 400;
}
.home__text h2 {
	margin-bottom: 0.5rem;
	color: var(--black900FontColor);
	font-size: 5.5rem;
	font-weight: 700;
}
@media (max-width: 576px) {
	.home__text h2 {
		font-size: 4rem;
	}
}
.home__text h1 {
	color: var(--black700FontColor);
	font-size: 2rem;
	font-weight: 700;
}
.home__text .btn-1 {
	margin-top: 3rem;
}
.home__img .home__img-box {
	max-width: 45rem;
	margin: auto;
	padding: 1.5rem;
	display: block;
	border-radius: 50%;
}
@media (max-width: 768px) {
	.home__img,
	.home__text {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		min-width: 100%;
	}
	.home__text {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		text-align: center;
	}
	.home__img .home__img-box {
		margin-bottom: 4rem;
		max-width: 35rem;
	}
}
@media (max-width: 576px) {
	.home__img .home__img-box {
		max-width: 26rem;
	}
}
.home__img .home__img-box img {
	width: 100%;
	border-radius: 50%;
	border: 1rem solid transparent;
}
.about {
	min-height: 95vh;
	padding: 8rem 0 0;
}
.about__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.about__img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
	padding: 0 1.5rem;
}
@media (max-width: 768px) {
	.about__img {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-bottom: 3rem;
	}
}
.about__img-box {
	padding: 1.5rem;
	border-radius: 0.5rem;
}
.about__img-box img {
	width: 100%;
	height: 100%;
	border: 1rem solid transparent;
	border-radius: 0.5rem;
}
.about__img .about__social-links {
	margin-top: 2rem;
	text-align: center;
}
.about__img .about__social-links a {
	width: 4rem;
	height: 4rem;
	margin-right: 1.5rem;
	display: inline-block;
	border-radius: 1rem;
	color: var(--black600FontColor);
	text-align: center;
	line-height: 4rem;
	font-size: 2rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.about__img .about__social-links a::after {
	border-radius: 1rem;
}
.about__img .about__social-links a:last-child {
	margin-right: 0;
}
.about__img .about__social-links a:hover {
	color: var(--theme-color);
}
.about__info {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
	padding: 0 1.5rem;
}
@media (max-width: 768px) {
	.about__info {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.about__info p {
	margin-bottom: 1.5rem;
	color: var(--black600FontColor);
	line-height: 2.6rem;
	font-size: 1.6rem;
	font-weight: 400;
}
.about__info span {
	font-weight: 500;
}
.about__info .btn-1 {
	margin: 3rem 2rem 0 0;
}
.about__info .btn-1:last-child {
	margin-right: 0;
}
.about__tabs-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.about__tabs {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 6rem 1.5rem 5rem;
	text-align: center;
}
.about__tabs .tab__item {
	margin: 0 0.5rem 1rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	display: inline-block;
	border-radius: 3rem;
	color: var(--black600FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 500;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.about__tabs .tab__item:hover:not(._active) {
	opacity: 0.6;
}
.about__tabs .tab__item._active {
	color: var(--theme-color);
	-webkit-animation: 1s fadeIn;
	animation: 1s fadeIn;
}
.about .tab__content {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	min-height: 75vh;
	display: none;
}
.about .tab__content._active {
	display: block;
	-webkit-animation: 0.5s fadeInTop;
	animation: 0.5s fadeInTop;
}
.about .skill {
	padding: 0 0 4rem;
}
.about .skill__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.about .skill .skill__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 4rem;
	padding: 0 1.5rem;
}
@media (max-width: 768px) {
	.about .skill .skill__item {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.about .skill .skill__item p {
	margin: 0 0 1rem;
	color: var(--black600FontColor);
	text-transform: lowercase;
	font-size: 1.6rem;
}
.about .skill__progress {
	height: 2rem;
	border-radius: 1rem;
	position: relative;
}
.about .skill__progress-bar {
	height: 0.6rem;
	border-radius: 1rem;
	background: var(--black600FontColor);
	position: absolute;
	top: 0.7rem;
	left: 0.7rem;
}
.about .skill__progress-bar span {
	margin-top: -4rem;
	color: var(--black600FontColor);
	font-size: 1.6rem;
	font-weight: 500;
	position: absolute;
	right: 0;
	top: 0;
}
.about .education,
.about .experience {
	padding-bottom: 8rem;
}
.about .timeline {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 1.5rem;
	position: relative;
}
.about .timeline::before {
	content: '';
	width: 0.1rem;
	height: 100%;
	background: var(--bgBlack100);
	position: absolute;
	left: 50%;
	top: 0;
}
.about .timeline__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.about .timeline__item:nth-child(odd) {
	padding-right: calc(50% + 5rem);
	text-align: right;
}
.about .timeline__item:nth-child(odd) .icon {
	right: -7rem;
}
@media (max-width: 768px) {
	.about .timeline {
		padding: 0;
	}
	.about .timeline::before {
		left: 3.5rem;
	}
	.about .timeline__item {
		margin-bottom: 3rem;
	}
	.about .timeline__item:last-child {
		margin-bottom: 0;
	}
	.about .timeline__item:nth-child(odd) {
		padding-right: 1.5rem;
		text-align: left;
		padding-left: 7.5rem;
	}
	.about .timeline__item:nth-child(odd) .icon {
		right: auto;
		left: -6rem;
	}
}
.about .timeline__item:nth-child(odd) .timeline__item-inner::before {
	right: -3rem;
}
.about .timeline__item:nth-child(even) {
	padding-left: calc(50% + 5rem);
	text-align: left;
}
@media (max-width: 768px) {
	.about .timeline__item:nth-child(odd) .timeline__item-inner::before {
		left: -3rem;
		right: auto;
	}
	.about .timeline__item:nth-child(even) {
		padding-right: 1.5rem;
		padding-left: 7.5rem;
	}
}
.about .timeline__item:nth-child(even) .icon {
	left: -7rem;
}
@media (max-width: 768px) {
	.about .timeline__item:nth-child(even) .icon {
		left: -6rem;
	}
}
.about .timeline__item:nth-child(even) .timeline__item-inner::before {
	left: -3rem;
}
.about .timeline__item-inner {
	padding: 3rem;
	border-radius: 0.5rem;
	position: relative;
}
.about .timeline__item-inner::before {
	content: '';
	width: 3rem;
	height: 0.1rem;
	z-index: -1;
	background: var(--bgBlack100);
	position: absolute;
	top: 3.7rem;
}
.about .timeline__item-inner .icon {
	width: 4rem;
	height: 4rem;
	background-color: var(--bgBlack50);
	border: 0.1rem solid var(--bgBlack100);
	border-radius: 50%;
	color: var(--theme-color);
	text-align: center;
	line-height: 3.75rem;
	font-size: 1.6rem;
	position: absolute;
	top: 1.8rem;
}
.about .timeline__item-inner span {
	margin: 0 0 1rem;
	display: block;
	color: var(--theme-color);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 500;
}
.about .timeline__item-inner h3 {
	margin-bottom: 0.5rem;
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 2rem;
	font-weight: 500;
}
.about .timeline__item-inner h4 {
	color: var(--black600FontColor);
	font-size: 1.6rem;
	font-style: italic;
}
.about .timeline__item-inner p {
	margin-top: 1.5rem;
	color: var(--black600FontColor);
	text-transform: lowercase;
	line-height: 2.6rem;
	font-size: 1.6rem;
	font-weight: 400;
}
.about .service {
	width: 100%;
}
.about .service__items-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.about .service__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 1024px) {
	.about .service__item {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (max-width: 768px) {
	.about .service__item {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.about .service__item-inner {
	width: 100%;
	padding: 5rem 1.5rem;
	border-radius: 0.5rem;
	text-align: center;
}
.about .service__item-inner:hover .icon {
	-webkit-box-shadow: var(--innerSadhow0);
	box-shadow: var(--innerSadhow0);
}
.about .service__item-inner:hover .icon::after {
	-webkit-box-shadow: var(--outerShadow);
	box-shadow: var(--outerShadow);
}
.about .service__item-inner:hover .icon i {
	color: var(--theme-color);
	font-size: 3.5rem;
}
.about .service__item-inner .icon {
	width: 6rem;
	height: 6rem;
	margin: 0 auto 3rem;
	display: block;
	border-radius: 50%;
	text-align: center;
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.about .service__item-inner .icon::after {
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.about .service__item-inner .icon i {
	color: var(--black600FontColor);
	line-height: 6rem;
	font-size: 2.5rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.about .service__item-inner h3 {
	margin-bottom: 1rem;
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 2rem;
	font-weight: 500;
}
.about .service__item-inner p {
	color: var(--black600FontColor);
	text-transform: lowercase;
	line-height: 2.6rem;
	font-size: 1.6rem;
	font-weight: 400;
}
.title {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 6rem;
	padding: 0 1.5rem;
	text-align: center;
}
.title h2 {
	display: inline-block;
	color: var(--black900FontColor);
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 700;
}
.title h2::before {
	content: attr(data-heading);
	display: block;
	color: var(--theme-color);
	font-size: 1.6rem;
	font-weight: 500;
}
.portfolio {
	min-height: 95vh;
	padding: 8rem 0;
}
.portfolio__title {
	margin-bottom: 4rem;
}
.portfolio__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.portfolio .filter {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 2rem;
	padding: 0 1.5rem;
	text-align: center;
}
.portfolio .filter__item {
	margin: 0 0.5rem 1rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	display: inline-block;
	border-radius: 3rem;
	color: var(--black600FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 500;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.portfolio .filter__item:hover:not(._active) {
	opacity: 0.6;
}
.portfolio .filter__item._active {
	color: var(--theme-color);
}
.portfolio__items-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.portfolio .item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 1.5rem;
}
@media (max-width: 1024px) {
	.portfolio .item {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (max-width: 768px) {
	.portfolio .item {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 1rem;
	}
	.portfolio .item:last-child {
		margin-bottom: 0;
	}
}
.portfolio .item._hide {
	display: none;
}
.portfolio .item._show {
	display: block;
	-webkit-animation: 0.5s fadeInTop;
	animation: 0.5s fadeInTop;
}
.portfolio .item__inner {
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
}
.portfolio .item__inner:hover .item__img img {
	-webkit-transform: translateY(-2.5rem);
	-ms-transform: translateY(-2.5rem);
	transform: translateY(-2.5rem);
}
.portfolio .item__inner:hover .item__view-project {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.portfolio .item__img {
	width: 100%;
	position: relative;
}
.portfolio .item__img img {
	width: 100%;
	border-radius: 0.5rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.portfolio .item__view-project {
	z-index: -1;
	color: var(--theme-color);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 500;
	position: absolute;
	left: 0.5rem;
	bottom: -0.3rem;
	-webkit-transform: translateY(-1.5rem);
	-ms-transform: translateY(-1.5rem);
	transform: translateY(-1.5rem);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.portfolio .item__title {
	margin-top: 1.5rem;
	color: var(--black600FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
}
.portfolio .item__details {
	display: none;
}
.portfolio__block {
	width: 100%;
	margin-top: 3rem;
	display: none;
	color: var(--black600FontColor);
	text-align: center;
	text-transform: capitalize;
	font-size: 3rem;
	font-weight: 500;
}
.portfolio__block._show {
	display: block;
	-webkit-animation: 0.5s fadeInTop;
	animation: 0.5s fadeInTop;
}
.portfolio__popup {
	opacity: 0;
	visibility: hidden;
}
.portfolio__popup._open {
	opacity: 1;
	visibility: visible;
}
.portfolio .popup {
	background: var(--bgBlack50);
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.portfolio .popup__main {
	max-width: 135rem;
	min-height: 50vh;
	width: 85%;
	padding: 5rem 0;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.portfolio .popup__inner {
	width: 100%;
	padding: 7rem 0 5rem;
	position: relative;
}
.portfolio .popup__title p span {
	text-transform: capitalize;
	font-weight: 400;
}
.portfolio .popup__img {
	max-width: 100%;
	width: 100%;
	height: auto;
	padding: 1rem;
	border-radius: 0.5rem;
}
.portfolio .popup__project-datails-btn {
	height: 4rem;
	padding: 0 1.5rem;
	cursor: pointer;
	border-radius: 3rem;
	color: var(--theme-color);
	line-height: 4rem;
	font-size: 1.6rem;
	font-weight: 500;
	position: absolute;
	top: 1.5rem;
	left: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.portfolio .popup__project-datails-btn::after {
	border-radius: 3rem;
}
.portfolio .popup__project-datails-btn i {
	margin-left: 0.4rem;
}
.portfolio .popup__close {
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	border-radius: 50%;
	color: var(--black600FontColor);
	text-align: center;
	line-height: 3.5rem;
	font-size: 3.5rem;
	position: absolute;
	top: 1.5rem;
	right: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.portfolio .popup__close::after {
	border-radius: 50%;
}
.portfolio .popup__counter {
	height: 4rem;
	line-height: 4rem;
	color: var(--black600FontColor);
	font-size: 1.6rem;
	font-weight: 500;
	position: absolute;
	bottom: 0.5rem;
	right: 0;
}
.portfolio .popup__next,
.portfolio .popup__prev {
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	z-index: 1010;
	opacity: 0.5;
	color: var(--black900FontColor);
	text-align: center;
	line-height: 4rem;
	font-size: 2rem;
	position: fixed;
	top: 50%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.portfolio .popup__next:hover,
.portfolio .popup__prev:hover {
	opacity: 1;
}
.portfolio .popup__loader {
	width: 100%;
	height: 100%;
	z-index: 1005;
	visibility: hidden;
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: var(--bgOpacity);
	position: fixed;
	top: 0;
	left: 0;
}
.portfolio .popup__loader._active {
	visibility: visible;
	opacity: 1;
}
.portfolio .popup__loader div {
	width: 4rem;
	height: 4rem;
	border: 0.3rem solid var(--theme-color);
	border-radius: 50%;
	border-right: 0.3rem solid transparent;
	-webkit-animation: 1.5s linear infinite spin;
	animation: 1.5s linear infinite spin;
}
.portfolio .popup__prev {
	left: 1.5rem;
}
.portfolio .popup__prev i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.portfolio .popup__next {
	right: 1.5rem;
}
.portfolio .popup__separator {
	width: 100%;
	height: 0.1rem;
	margin-top: 1.5rem;
	display: block;
	background: var(--bgBlack100);
}
.portfolio .popup__details {
	max-width: 135rem;
	width: calc(85% + 3rem);
	max-height: 0;
	margin: auto;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.portfolio .popup__details._active {
	opacity: 1;
}
.portfolio .popup__details-inner {
	padding: 3rem 0;
}
.portfolio .popup__title {
	padding: 0 3rem 0 1.5rem;
}
.portfolio .popup__title h2 {
	margin-bottom: 0.5rem;
	color: var(--black900FontColor);
	text-transform: capitalize;
	font-size: 2.8rem;
	font-weight: 700;
}
.portfolio .popup__title p {
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--bgBlack100);
	color: var(--black600FontColor);
	font-size: 1.4rem;
	font-weight: 700;
}
.portfolio .popup__project-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.portfolio .popup__project-details h3 {
	margin-bottom: 1.5rem;
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 2rem;
	font-weight: 700;
}
.portfolio .popup__project-details p {
	color: var(--black600FontColor);
	line-height: 2.6rem;
	font-size: 1.6rem;
	font-weight: 500;
}
.portfolio .popup .description {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 65%;
	flex: 0 0 65%;
	max-width: 65%;
	padding: 0 3rem 0 1.5rem;
}
@media (max-width: 768px) {
	.portfolio .popup .description {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.portfolio .popup .info {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 35%;
	flex: 0 0 35%;
	max-width: 35%;
	padding: 0 3rem 0 1.5rem;
}
@media (max-width: 768px) {
	.portfolio .popup .info {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-top: 1.5rem;
	}
}
.portfolio .popup .info ul li {
	margin-bottom: 1rem;
	display: block;
	color: var(--black600FontColor);
	font-size: 1.6rem;
	font-weight: 700;
}
.portfolio .popup .info ul li:last-child {
	margin-bottom: 0;
}
.portfolio .popup .info ul li a {
	color: var(--theme-color);
}
.portfolio .popup .info ul li span {
	font-weight: 400;
}
.testimonial {
	width: 100%;
	min-height: 95vh;
	padding: 8rem 0;
}
.testimonial__wrapper {
	width: 100%;
	height: 100%;
}
.testimonial__box {
	max-width: 60rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5rem;
}
.testimonial__slider {
	border-radius: 0.5rem;
	overflow: hidden;
}
.testimonial__slider-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: margin 1s;
	-o-transition: margin 1s;
	transition: margin 1s;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.testimonial .item {
	padding: 3rem;
	text-align: center;
	position: relative;
}
.testimonial .item i {
	opacity: 0.3;
	color: var(--black600FontColor);
	font-size: 3rem;
	position: absolute;
}
.testimonial .item i._left {
	left: 0.5rem;
	top: 0.5rem;
}
.testimonial .item i._right {
	right: 0.5rem;
	bottom: 0.5rem;
}
.testimonial .item p {
	margin-bottom: 3rem;
	color: var(--black600FontColor);
	text-transform: capitalize;
	line-height: 2.6rem;
	font-size: 1.6rem;
}
.testimonial .item img {
	max-width: 7rem;
	width: 100%;
	display: inline-block;
}
.testimonial .item span {
	margin-top: 1rem;
	display: block;
	color: var(--black700FontColor);
	font-size: 1.6rem;
	font-weight: 700;
}
.testimonial__slider-nav {
	margin-top: 3rem;
	text-align: center;
}
.testimonial__slider-nav .next,
.testimonial__slider-nav .prev {
	width: 4rem;
	height: 4rem;
	margin: 0 0.4rem;
	cursor: pointer;
	display: inline-block;
	border-radius: 50%;
	color: var(--theme-color);
	line-height: 4rem;
	font-size: 2.5rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.testimonial__slider-nav .next::after,
.testimonial__slider-nav .prev::after {
	border-radius: 50%;
}
.contact {
	width: 100%;
	min-height: 95vh;
	padding: 8rem 0;
}
.contact__wrapper {
	width: 100%;
}
.contact__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.contact .item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 768px) {
	.contact .item {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.contact .item__inner {
	width: 100%;
	height: 100%;
	padding: 3rem 1.5rem;
	border-radius: 0.5rem;
	text-align: center;
}
.contact .item__inner i {
	color: var(--theme-color);
	font-size: 2.5rem;
}
.contact .item__inner span {
	margin: 1.5rem 0 1rem;
	display: block;
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 700;
}
.contact .item__inner p {
	color: var(--black600FontColor);
	word-break: break-word;
	line-height: 2.6rem;
	font-size: 1.6rem;
	font-weight: 400;
}
.contact .form {
	width: 100%;
	margin-top: 5rem;
	position: relative;
}
.contact .form #formMessage._sending .form__loader {
	visibility: visible;
	opacity: 1;
}
.contact .form__loader {
	width: 100%;
	height: 100%;
	z-index: 1100;
	visibility: hidden;
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: var(--bgOpacity);
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.contact .form__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.contact .form__w-50 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 1.5rem;
}
.contact .form__w-50 .form__input-group:last-child {
	margin: 0;
}
@media (max-width: 768px) {
	.contact .form__w-50 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.contact .form__input-group {
	margin: 0 0 2.5rem;
	border-radius: 3rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.contact .form__input-group::after {
	border-radius: 3rem;
}
.contact .form__input-group._textarea {
	height: 18.5rem;
}
.contact .form__input-group._textarea textarea {
	resize: none;
	width: 100%;
	height: 100%;
	padding-top: 1.5rem;
}
.contact .form__input-control {
	width: 100%;
	height: 4.5rem;
	padding: 0 1.5rem;
	display: block;
	border-radius: 3rem;
	border: 0.1rem dashed transparent;
	background: 0 0;
	color: var(--black700FontColor);
	font-size: 1.6rem;
	font-weight: 500;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.contact .form__input-control::-webkit-input-placeholder {
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 400;
}
.contact .form__input-control::-moz-placeholder {
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 400;
}
.contact .form__input-control:-ms-input-placeholder {
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 400;
}
.contact .form__input-control::-ms-input-placeholder {
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 400;
}
.contact .form__input-control::placeholder {
	color: var(--black700FontColor);
	text-transform: capitalize;
	font-size: 1.6rem;
	font-weight: 400;
}
.contact .form__input-control:active,
.contact .form__input-control:focus {
	outline: 0;
	border: 0.1rem dashed var(--theme-color);
}
.contact .form__input-control._error {
	-webkit-box-shadow: 0 0 1.5rem red;
	box-shadow: 0 0 1.5rem red;
}
.contact .form__preview-pic {
	max-width: 15rem;
	padding: 1rem;
	display: inline-block;
}
.contact .form__preview-pic img {
	max-width: 100%;
}
.contact .form__btn {
	width: 100%;
	margin-top: 2.5rem;
	padding: 0 1.5rem;
	text-align: right;
}
@media (max-width: 768px) {
	.contact .form__btn {
		text-align: center;
	}
}
